/*
 * Source:
 * http://brandcolors.net
 *
 */

$artstation:  #13aff0;
$behance:     #1769ff;
$bitbucket:   #205081;
$dasauge:     #ebcb2f;
$deezer:      #0f71b7;
$disqus:      #2e9fff;
$dribbble:    #ea4c89;
$facebook:    #3b5998;
$github:      #4183c4;
$google-plus: #dd4b39;
$indiegogo:   #eb1478;
$instagram:   #3f729b;
$issuu:       #f36d5d;
$kickstarter: #2bde73;
$kirby:       #ff0000;
$page-online: #000000; // Alt. 10b3dc
$patreon:     #e6461a;
$pinterest:   #bd081c;
$rss:         #f26522;
$telegram:    #0088cc;
$tumblr:      #35465c;
$twitter:     #55acee;
$spotify:     #2ebd59;
$vimeo:       #1ab7ea;
$xing:        #026466;
$youtube:     #cd201f;
