@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

@import 'base/brandcolors';
@import 'base/colors';
@import 'base/fonts';
@import 'base/grid';

@import 'mixins/all-headings';
@import 'mixins/alpha';
@import 'mixins/fonts';
@import 'mixins/hyperlinks';
@import 'mixins/icon-fonts';
@import 'mixins/reset';
@import 'mixins/tint-and-shade';
@import 'mixins/transformations';
@import 'mixins/transitions';

@import 'partials/figure';
@import 'partials/kirby-columns';
@import 'partials/navbar-toggle';
